---
import MainLayout from "../components/MainLayout.astro";
---

<MainLayout>
  <div class="main-container">
    <h1>ABOUT</h1>
    <p id="about-text">
      TABLEAU is a multidisciplinary creative studio and gallery. Founded as a flower shop in Copenhagen in 2018 by florist Julius Værnes Iversen, the studio works to deconstruct established ideas of design. Alongside its gallery that promotes
      emerging artists, TABLEAU designs objects, sets, interiors and architectural installations. Their approach is to source collaborators globally in order to break down barriers between art and design. Past work includes projects for Tom Dixon,
      Vogue, and Copenhagen Contemporary amongst others. <br />
      <br />
      TABLEAU excels in set design, exhibitions, spatial design, flower installations, and furniture craftsmanship. From captivating set designs for shoots to immersive exhibitions showcasing emerging artists, their multidisciplinary approach mesmerizes.
      Blending aesthetics and functionality, TABLEAU's spatial design expertise creates harmonious environments for diverse projects. Rooted in floristry, their flower installations transcend tradition, while their distinctive furniture pieces challenge
      design norms. As a global collaborator, TABLEAU redefines the intersection of art and design, inspiring customers and pushing creative boundaries.
    </p>
    <img id="about-grafik" src="../icons/filledwave.svg" alt="bolgegrafik" />
    <h2>CONTACT</h2>
    <section class="contact">
      <article class="contact-left">
        <div class="personal-contact">
          <h3>Julius Værnes Iversen</h3>
          <p>Founder & Creative Director</p>
          <p>+45 23 20 02 85</p>
          <p>Julius@tableau-cph.com</p>
        </div>
        <div class="personal-contact">
          <h3>Josephine Jein</h3>
          <p>PR, Communication & E-commerce</p>
          <p>+45 29 27 87 11</p>
          <p>Josephine@tableau-cph.com</p>
        </div>
        <div class="personal-contact">
          <h3>Marie Arnette</h3>
          <p>Flower Designer / Flowers for Events</p>
          <p>+45 53 87 06 12</p>
          <p>Marie@tableau-cph.com</p>
        </div>
        <div class="personal-contact">
          <h3>Boris Peinav</h3>
          <p>Concept Development, Architecture & Installations</p>
          <p>+45 22 35 85 11</p>
          <p>Boris@tableau-cph.com</p>
        </div>
      </article>
      <article class="contact-right">
        <div class="contact-right-item">
          <p>Store Kongensgade 50</p>
          <p>1264 København K</p>
        </div>
        <div class="contact-right-item">
          <p>Weekdays 10:00 - 18:00</p>
          <p>Saturdays 09:00 - 17:00</p>
          <p>Sundays 10:00 - 15:00</p>
        </div>
        <div class="contact-right-item">
          <p>+45 31 45 31 30</p>
        </div>
        <div class="contact-right-item">
          <p>Info@tableau-cph.com</p>
          <p>Instagram</p>
          <p>Newsletter</p>
        </div>
      </article>
    </section>
  </div>
</MainLayout>

<style>
  h1 {
    text-align: center;
    margin-bottom: var(--s-spacing);
  }

  h2 {
    margin-block: var(--l-spacing);
    text-align: center;
  }

  .contact-right {
    text-align: right;
  }

  .personal-contact,
  .contact-right-item {
    margin-bottom: var(--xs-spacing);
  }

  #about-grafik {
    margin-top: var(--l-spacing);
    margin-inline: auto;
  }
  @media (min-width: 690px) {
    .contact {
      display: flex;
      justify-content: space-between;
    }

    .personal-contact,
    .contact-right-item {
      margin-bottom: var(--s-spacing);
    }

    #about-text {
      margin-inline: auto;
    }
  }
</style>
