---
import MainLayout from "../components/MainLayout.astro";
import YourOrder from "../components/YourOrder.astro";
---

<MainLayout>
  <h1 id="h1-margin">Billing details</h1>
  <div class="main-container">
    <div class="billing">
      <div class="main_form">
        <div class="wrapper_form">
          <div class="form-group">
            <label for="fname">First name *</label>
            <input type="text" name="fname" placeholder="John" class="form-control form-control-lg" />
          </div>
          <div class="form-group">
            <label for="fname">Last name *</label>
            <input type="text" name="fname" placeholder="Johnsen" class="form-control form-control-lg" />
          </div>
        </div>

        <div class="wrapper_form">
          <div class="form-group">
            <label for="fname">Company name</label>
            <input type="text" name="fname" placeholder="John" class="form-control form-control-lg" />
          </div>
          <div class="form-group">
            <label for="fname">Country / Region *</label>
            <select name="Country" class="form-control form-control-lg">
              <option value="">Country</option>
              <option value="Denmark">Denmark</option>
              <option value="Germany">Germany</option>
              <option value="Sweden">Sweden</option>
              <option value="USA">USA</option>
              <option value="Norway">Norway</option>
              <option value="Japan">Japan</option>
            </select>
          </div>
        </div>
      </div>
      <section class="address">
        <div class="wrapper_form">
          <div class="form-group">
            <label for="fname">Address *</label>
            <input type="text" name="fname" placeholder="Street name" class="form-control form-control-lg" />
          </div>
          <div class="form-group">
            <label id="h_number" for="fname"></label>
            <input type="text" name="fname" placeholder="House number" class="form-control form-control-lg" />
          </div>
        </div>

        <div class="wrapper_form">
          <div class="form-group">
            <label for="fname">Postcode / ZIP *</label>
            <input type="text" name="fname" placeholder="Postcode" class="form-control form-control-lg" />
          </div>
          <div class="form-group">
            <label for="fname">Town / City *</label>
            <input type="text" name="fname" placeholder="Town name" class="form-control form-control-lg" />
          </div>
        </div>
      </section>

      <div class="wrapper_form">
        <div class="form-group">
          <label for="fname">Phone *</label>
          <input type="number" name="fname" placeholder="11223344" class="form-control form-control-lg" />
        </div>
        <div class="form-group">
          <label for="fname">Email *</label>
          <input type="text" name="fname" placeholder="Email" class="form-control form-control-lg" />
        </div>
      </div>

      <div class="wrapper_form">
        <div class="form-group">
          <label for="fname">Order notes (optional)</label>
          <input type="text" name="fname" placeholder="xx" class="form-control form-control-lg" />
        </div>
      </div>
    </div>

    <div class="your_order">
      <h2 id="yourorder">Your order</h2>
      <YourOrder />
      <img src="../img/shippingpayment.webp" alt="paymentproviders" id="providers" />
      <hr class="hr2" />
      <div class="policies">
        <p class="p_small">Refund Policy</p>
        <p class="p_small">Shipping Policy</p>
        <p class="p_small">Privacy Policy</p>
        <p class="p_small">Terms of service</p>
      </div>
    </div>
  </div>
</MainLayout>

<style>
  label {
    font-family: franklin;
  }

  .wrapper_form {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--xs-spacing);
    place-items: end;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .form-group label {
    margin-bottom: 5px;
  }

  .form-control {
    padding: 5px;
  }

  input {
    color: #838383;
    border: 1px solid var(--blue);
    font-family: franklin;
  }

  select {
    color: #838383;
    border: 1px solid var(--blue);
    font-family: franklin;
  }

  #h_number {
    margin-bottom: auto;
  }

  #h1-margin {
    margin-bottom: var(--s-spacing);
  }

  #yourorder {
    color: var(--blue);
    text-align: center;
    margin-top: var(--s-spacing);
  }

  select {
    width: 172px;
  }

  #providers {
    margin-top: var(--xs-spacing);
    margin-bottom: var(--xxs-spacing);
  }

  .policies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
  input,
  select {
    max-width: 220px;
    width: 50vw;
  }

  @media (min-width: 690px) {
    .hr2 {
      width: 2px;
      height: 90%;
      position: absolute;
      top: 5%;
      left: 50%;
      background-color: var(--grey);
    }

    .main-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .your_order {
      /* margin-left: var(--xl-spacing); */
      margin: auto;
      max-width: 500px;
    }

    .billing {
      margin: auto;
      width: 500px;
      /* margin-left: var(--l-spacing); */
    }
    input,
    select {
      max-width: 240px;
      width: 20vw;
    }
  }
</style>
