---
import MainLayout from "../components/MainLayout.astro";
---

<MainLayout>
  <div class="press-container">
    <h1>PRESS</h1>
    <h4 id="mail">PRESS@TABLEAU-CPH.COM</h4>
    <div class="press_year">
      <h3 class="year-nr">2023</h3>
      <div class="press-year-flex">
        <h4>Scandinavianmind.com</h4>
        <h4>May</h4>
      </div>
      <div class="press-year-flex">
        <h4>Hypebeast.com</h4>
        <h4>April</h4>
      </div>
      <div class="press-year-flex">
        <h4>Stylepark.com</h4>
        <h4>April</h4>
      </div>
      <div class="press-year-flex">
        <h4>Architecturaldigest.com</h4>
        <h4>March</h4>
      </div>
      <div class="press-year-flex">
        <h4>Sightunseen.com</h4>
        <h4>March</h4>
      </div>
      <div class="press-year-flex">
        <h4>Hypebeast.com</h4>
        <h4>March</h4>
      </div>
      <div class="press-year-flex">
        <h4>Elle.com India</h4>
        <h4>March</h4>
      </div>
      <div class="press-year-flex">
        <h4>Wallpaper.com</h4>
        <h4>March</h4>
      </div>
      <div class="press-year-flex">
        <h4>Sightunseen.com</h4>
        <h4>February</h4>
      </div>
      <div class="press-year-flex">
        <h4>Milk Magazine</h4>
        <h4>February</h4>
      </div>
      <div class="press-year-flex">
        <h4>Dezeen.com</h4>
        <h4>February</h4>
      </div>
      <div class="press-year-flex">
        <h4>Elle Decor</h4>
        <h4>January</h4>
      </div>
      <div class="press_year">
        <h3 class="year-nr">2022</h3>
        <div class="press-year-flex">
          <h4>Stirpad.com</h4>
          <h4>July</h4>
        </div>
        <div class="press-year-flex">
          <h4>Frameweb.com</h4>
          <h4>June</h4>
        </div>
        <div class="press-year-flex">
          <h4>Dezeen.com</h4>
          <h4>June</h4>
        </div>
        <div class="press-year-flex">
          <h4>Wallpaper.com</h4>
          <h4>June</h4>
        </div>
        <div class="press-year-flex">
          <h4>Milkdecoration.com</h4>
          <h4>June</h4>
        </div>
        <div class="press-year-flex">
          <h4>Voguescandinavia.com</h4>
          <h4>June</h4>
        </div>
        <div class="press-year-flex">
          <h4>Mousart.com</h4>
          <h4>June</h4>
        </div>
        <div class="press-year-flex">
          <h4>Voguescandinavia.com</h4>
          <h4>June</h4>
        </div>
        <div class="press-year-flex">
          <h4>Pointofdesign.pl</h4>
          <h4>June</h4>
        </div>
        <div class="press-year-flex">
          <h4>Stirworld.com</h4>
          <h4>June</h4>
        </div>
        <div class="press-year-flex">
          <h4>Jnews.com</h4>
          <h4>June</h4>
        </div>
        <div class="press-year-flex">
          <h4>Hypebeast.com</h4>
          <h4>June</h4>
        </div>
        <div class="press-year-flex">
          <h4>Mixzhare.com</h4>
          <h4>June</h4>
        </div>
        <div class="press-year-flex">
          <h4>Rum International</h4>
          <h4>March</h4>
        </div>
        <div class="press-year-flex">
          <h4>Stirworld.com</h4>
          <h4>February</h4>
        </div>
        <div class="press-year-flex">
          <h4>Design-Milk</h4>
          <h4>February</h4>
        </div>
        <div class="press-year-flex">
          <h4>Metropolismag.com</h4>
          <h4>February</h4>
        </div>
        <div class="press-year-flex">
          <h4>Dezeen.com</h4>
          <h4>February</h4>
        </div>
        <div class="press-year-flex">
          <h4>Adily.net</h4>
          <h4>February</h4>
        </div>
        <div class="press-year-flex">
          <h4>Elle Decor</h4>
          <h4>January</h4>
        </div>
        <div class="press-year-flex">
          <h4>Frameweb.com</h4>
          <h4>January</h4>
        </div>
        <div class="press-year-flex">
          <h4>Woodsupply.dk</h4>
          <h4>January</h4>
        </div>
        <div class="press-year-flex">
          <h4>Estliving.com</h4>
          <h4>January</h4>
        </div>
        <div class="press-year-flex">
          <h4>Sightunseen.com</h4>
          <h4>January</h4>
        </div>
        <div class="press-year-flex">
          <h4>Bobedre.dk</h4>
          <h4>January</h4>
        </div>
        <div class="press-year-flex">
          <h4>Euroman.dk</h4>
          <h4>January</h4>
        </div>
        <div class="press-year-flex">
          <h4>Wallpaper</h4>
          <h4>January</h4>
        </div>
        <div class="press_year">
          <h3 class="year-nr">2021</h3>
          <div class="press-year-flex">
            <h4>Interior+Design, Russia</h4>
            <h4>November</h4>
          </div>
          <div class="press-year-flex">
            <h4>Vogue Scandinavia</h4>
            <h4>October</h4>
          </div>
          <div class="press-year-flex">
            <h4>LS:N Global.com</h4>
            <h4>October</h4>
          </div>
          <div class="press-year-flex">
            <h4>Wallpaper.com</h4>
            <h4>October</h4>
          </div>
          <div class="press-year-flex">
            <h4>Sightunseen</h4>
            <h4>October</h4>
          </div>
          <div class="press-year-flex">
            <h4>Yellowtrace.com.au</h4>
            <h4>September</h4>
          </div>
          <div class="press-year-flex">
            <h4>Elle Decor.com, Italy</h4>
            <h4>September</h4>
          </div>
          <div class="press-year-flex">
            <h4>Elle Decor.com, China</h4>
            <h4>September</h4>
          </div>
          <div class="press-year-flex">
            <h4>IX Design</h4>
            <h4>July</h4>
          </div>
          <div class="press-year-flex">
            <h4>Sightunseen.com</h4>
            <h4>June</h4>
          </div>
          <div class="press-year-flex">
            <h4>Elle Decor.com, Denmark</h4>
            <h4>June</h4>
          </div>
          <div class="press-year-flex">
            <h4>Rum International</h4>
            <h4>May</h4>
          </div>
          <div class="press-year-flex">
            <h4>Wallpaper</h4>
            <h4>May</h4>
          </div>
          <div class="press-year-flex">
            <h4>Rum International</h4>
            <h4>May</h4>
          </div>
          <div class="press-year-flex">
            <h4>Costume</h4>
            <h4>May</h4>
          </div>
          <div class="press-year-flex">
            <h4>Annabelle</h4>
            <h4>May</h4>
          </div>
          <div class="press-year-flex">
            <h4>Rum International</h4>
            <h4>May</h4>
          </div>
          <div class="press-year-flex">
            <h4>ADMagazine.com</h4>
            <h4>April</h4>
          </div>
          <div class="press-year-flex">
            <h4>Rum International</h4>
            <h4>March</h4>
          </div>
          <div class="press-year-flex">
            <h4>Dezeen.com</h4>
            <h4>February</h4>
          </div>
          <div class="press_year">
            <h3 class="year-nr">2020</h3>
            <div class="press-year-flex">
              <h4>Boomsaloon.com</h4>
              <h4>November</h4>
            </div>
            <div class="press-year-flex">
              <h4>Sightunseen.com</h4>
              <h4>November</h4>
            </div>
            <div class="press-year-flex">
              <h4>Kinfolk.com</h4>
              <h4>October</h4>
            </div>
            <div class="press-year-flex">
              <h4>Visualpleasuremag.com</h4>
              <h4>October</h4>
            </div>
            <div class="press-year-flex">
              <h4>Illum.dk</h4>
              <h4>July</h4>
            </div>
            <div class="press-year-flex">
              <h4>Wallpaper.com</h4>
              <h4>May</h4>
            </div>
            <div class="press-year-flex">
              <h4>Bobedredk</h4>
              <h4>April</h4>
            </div>
            <div class="press-year-flex">
              <h4>Architectural Digest, Germany</h4>
              <h4>April</h4>
            </div>
            <div class="press-year-flex">
              <h4>Wallpaper.com</h4>
              <h4>April</h4>
            </div>
            <div class="press-year-flex">
              <h4>Architectural Digest, Italy</h4>
              <h4>April</h4>
            </div>
            <div class="press-year-flex">
              <h4>On Office</h4>
              <h4>March</h4>
            </div>
            <div class="press-year-flex">
              <h4>Costume Living</h4>
              <h4>March</h4>
            </div>
            <div class="press-year-flex">
              <h4>Milkdecoration.com</h4>
              <h4>March</h4>
            </div>
            <div class="press-year-flex">
              <h4>Milk Decoration</h4>
              <h4>March</h4>
            </div>
            <div class="press-year-flex">
              <h4>Themodernhouse.com</h4>
              <h4>February</h4>
            </div>
            <div class="press-year-flex">
              <h4>Nordicstylemag.com</h4>
              <h4>February</h4>
            </div>
            <div class="press-year-flex">
              <h4>Sightunseen.com</h4>
              <h4>February</h4>
            </div>
            <div class="press-year-flex">
              <h4>Husk</h4>
              <h4>February</h4>
            </div>
            <div class="press-year-flex">
              <h4>Material Source</h4>
              <h4>February</h4>
            </div>
            <div class="press-year-flex">
              <h4>Bo Bedre</h4>
              <h4>February</h4>
            </div>
            <div class="press-year-flex">
              <h4>Wallpaper</h4>
              <h4>February</h4>
            </div>
            <div class="press-year-flex">
              <h4>Sightunseen.com</h4>
              <h4>January</h4>
            </div>
            <div class="press-year-flex">
              <h4>Kunsten.nu</h4>
              <h4>January</h4>
            </div>
            <div class="press-year-flex">
              <h4>Idoart.dk</h4>
              <h4>January</h4>
            </div>
            <div class="press-year-flex">
              <h4>Wallpaper.com</h4>
              <h4>January</h4>
            </div>
            <div class="press-year-flex">
              <h4>NEO2</h4>
              <h4>January</h4>
            </div>
            <div class="press-year-flex">
              <h4>Blue Wings</h4>
              <h4>January</h4>
            </div>
          </div>
          <div class="press_year">
            <h3 class="year-nr">2019</h3>
            <div class="press-year-flex">
              <h4>Material Source</h4>
              <h4>December</h4>
            </div>
            <div class="press-year-flex">
              <h4>Oddform.eu</h4>
              <h4>December</h4>
            </div>
            <div class="press-year-flex">
              <h4>Bo Bedre</h4>
              <h4>November</h4>
            </div>
            <div class="press-year-flex">
              <h4>Ideat</h4>
              <h4>November</h4>
            </div>
            <div class="press-year-flex">
              <h4>Wohn! Design</h4>
              <h4>October</h4>
            </div>
            <div class="press-year-flex">
              <h4>Kunsten.nu</h4>
              <h4>October</h4>
            </div>
            <div class="press-year-flex">
              <h4>Eclectic Trends</h4>
              <h4>June</h4>
            </div>
            <div class="press-year-flex">
              <h4>Phaidon.com</h4>
              <h4>April</h4>
            </div>
            <div class="press-year-flex">
              <h4>Idoart.dk</h4>
              <h4>January</h4>
            </div>
            <div class="press_year">
              <h3 class="year-nr">2018</h3>
              <div class="press-year-flex">
                <h4>Kinfolk.com</h4>
                <h4>November</h4>
              </div>
              <div class="press-year-flex">
                <h4>Wideonline.com</h4>
                <h4>September</h4>
              </div>
              <div class="press-year-flex">
                <h4>Casavogue.com</h4>
                <h4>September</h4>
              </div>
              <div class="press-year-flex">
                <h4>Designboom.com</h4>
                <h4>September</h4>
              </div>
              <div class="press-year-flex">
                <h4>Dansk</h4>
                <h4>September</h4>
              </div>
              <div class="press-year-flex">
                <h4>August</h4>
                <h4>Frameweb.com</h4>
              </div>
              <div class="press-year-flex">
                <h4>Frame</h4>
                <h4>July</h4>
              </div>
              <div class="press-year-flex">
                <h4>Goooood.cn</h4>
                <h4>July</h4>
              </div>
              <div class="press-year-flex">
                <h4>Rum International</h4>
                <h4>June</h4>
              </div>
              <div class="press-year-flex">
                <h4>Stylepark.com</h4>
                <h4>June</h4>
              </div>
              <div class="press-year-flex">
                <h4>Architectural Digest, Germany</h4>
                <h4>June</h4>
              </div>
              <div class="press-year-flex">
                <h4>Trendland.com</h4>
                <h4>May</h4>
              </div>
              <div class="press-year-flex">
                <h4>Journal-du-design.com</h4>
                <h4>April</h4>
              </div>
              <div class="press-year-flex">
                <h4>Yellowtrace.com.au</h4>
                <h4>April</h4>
              </div>
              <div class="press-year-flex">
                <h4>Curbed.com</h4>
                <h4>April</h4>
              </div>
              <div class="press-year-flex">
                <h4>Heebunediaries.com</h4>
                <h4>April</h4>
              </div>
              <div class="press-year-flex">
                <h4>Sightunseen.com</h4>
                <h4>March</h4>
              </div>
              <div class="press-year-flex">
                <h4>Trendhunter.com</h4>
                <h4>March</h4>
              </div>
              <div class="press-year-flex">
                <h4>Wallpaper.com</h4>
                <h4>March</h4>
              </div>
              <div class="press-year-flex">
                <h4>Bobedre.dk</h4>
                <h4>March</h4>
              </div>
              <div class="press-year-flex">
                <h4>Architonic</h4>
                <h4>March</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <style>
        h1 {
          text-align: center;
          margin-bottom: var(--s-spacing);
        }
        h4 {
          margin-top: var(--xs-spacing);
          font-family: franklin !important;
          font-weight: 200;
        }
        #mail {
          font-family: larken;
        }
        .year-nr {
          font-family: helveticaH1;
          color: var(--blue);
          margin-top: var(--s-spacing);
          font-size: var(--h1-font-size);
        }

        .press-container {
          padding-inline: var(--xs-spacing);
          margin-inline: auto;
          margin-top: var(--xl-spacing);
          max-width: 900px;
        }

        .press_year {
          margin-bottom: 50px;
        }
        .press-year-flex {
          display: flex;
          justify-content: space-between;
          margin-inline: auto;
          max-width: 900px;
        }
      </style>
    </div>
  </div>
</MainLayout>
