---
import MainLayout from "../components/MainLayout.astro";
import "../style.css";
---

<MainLayout>
  <div class="main-container work-design">
    <h1 class="uppercase">Coming Soon</h1>
  </div>
</MainLayout>

<style>
  .work-design {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }

  h1 {
    margin-bottom: var(--m-spacing);
    color: var(--blue);
  }
</style>
