---
const { color, size, popupClass } = Astro.props;
---

<div class="overlay blur-background"></div>

<a class={color + " " + size + " " + popupClass} href={Astro.props.href}><slot /></a>
<div class="popup" id="popup">
  <img id="destinationImage" src="path/to/placeholder-image.jpg" alt="Placeholder Image" />
  <div class="popup-content">
    <p>You have added <span id="destinationElement"></span> to your cart</p>
    <div class="popupbuttons">
      <a href="/shop" class="blue">Keep browsing</a>
      <a href="/cart" class="white">View cart</a>
    </div>
  </div>

  <style>
    .popup a {
      padding: var(--xxs-spacing) var(--s-spacing);
    }

    #destinationImage {
      height: 100px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(4px);
      z-index: -1;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.4s;
      pointer-events: none;
    }

    .overlay.open-overlay {
      visibility: visible;
      opacity: 0.6;
      z-index: 9999;
    }
    .blue {
      background-color: var(--blue);
      color: var(--white);
      border: 1px solid var(--blue);
      cursor: pointer;
    }

    .blue:hover {
      background-color: var(--white);
      color: var(--blue);
      border: 1px solid var(--blue);
    }

    .white {
      background-color: var(--white);
      color: var(--blue);
      border: 1px solid var(--blue);
    }

    .fit-content {
      padding: var(--xs-spacing) 0;
      font-size: var(--p-font-size);
      text-transform: uppercase;
      width: 100%;
      display: block;
      text-align: center;
    }

    .full-width {
      width: 100vw;
      font-size: var(--p-font-size);
    }

    .popup {
      width: 500px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      background-color: var(--white);
      position: fixed;
      top: 20px;
      right: 320px;
      transform: translate(0, 0) scale(0.1);
      text-align: center;
      padding: var(--xs-spacing);
      color: #333;
      border: 1px solid var(--blue);
      visibility: hidden;
      transition: transform 0.4s, top 0.4s;
      z-index: 9999;
    }
    .popup img {
      grid-column: 1/2;
    }

    .popup-content {
      grid-column: 2/6;
      grid-row: 1/2;
      display: grid;
    }
    .popupbuttons {
      grid-row: 2/3;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .open-popup {
      visibility: visible;
      top: 5%;
      transform: translate(60%, 30%) scale(1);
      z-index: 10000;
    }

    .blur-background #popup {
      backdrop-filter: none;
      background-color: transparent;
    }
  </style>

  <script>
    function copyImage() {
      var sourceImage = document.getElementById("sourceImage");
      var destinationImage = document.getElementById("destinationImage");

      // Get the source image's source URL
      var imageURL = sourceImage.getAttribute("src");

      // Set the destination image's source URL
      destinationImage.setAttribute("src", imageURL);
    }

    copyImage();
    function copyContent() {
      var sourceElement = document.getElementById("sourceElement");
      var destinationElement = document.getElementById("destinationElement");

      // Get the source element's content
      var content = sourceElement.innerHTML;

      // Paste the content into the destination element
      destinationElement.innerHTML = content;
    }
    copyContent();

    let popup = document.getElementById("popup");
    let overlay = document.querySelector(".overlay");
    let body = document.querySelector("body");

    function buttonClick() {
      document.querySelector(".btn").addEventListener("click", openPopup);
    }

    function buttonClickClose() {
      document.querySelector(".btnclose").addEventListener("click", closePopup);
    }

    function openPopup() {
      popup.classList.add("open-popup");
      overlay.classList.add("open-overlay");
      disableScroll();
      document.addEventListener("click", outsideClick);
    }

    function closePopup() {
      popup.classList.remove("open-popup");
      overlay.classList.remove("open-overlay");
      enableScroll();
      document.removeEventListener("click", outsideClick);
    }

    function outsideClick(event) {
      if (!popup.contains(event.target) && !event.target.classList.contains("btn")) {
        closePopup();
      }
    }

    function disableScroll() {
      body.style.overflow = "hidden";
    }

    function enableScroll() {
      body.style.overflow = "auto";
    }

    buttonClick();
    buttonClickClose();
  </script>
</div>
