---
import "../style.css";
---

<section class="info-footer">
  <div class="store-footer">
    <img src="/logo/logo-blue.svg" alt="Tableau Logo" />
    <p>Store Kongensgade 50 <br /> 1624 København K</p>
    <div class="opening_hours">
      <p>Monday - friday</p>
      <p>10-18</p>
    </div>
    <div class="opening_hours">
      <p>Saturday</p>
      <p>10-17</p>
    </div>
    <div class="opening_hours">
      <p>Sunday</p>
      <p>10-15</p>
    </div>
  </div>
  <div class="wave-footer">
    <img src="" alt="Tableau wave" />
  </div>
  <div class="contact-footer">
    <a href="mailto:info@tableau-cph.com">info@tableau-cph.com</a>
    <a href="tel:+45 31 45 31 30">+45 31 45 31 30</a>
    <a href="#">Terms & conditions</a>
  </div>
</section>
<section class="icons-footer">
  <div class="some-icons">
    <div>
      <img src="/icons/facebook.svg" alt="facebook logo" />
      <img src="/icons/insta.svg" alt="instagram logo" />
    </div>
    <p>&copy; Tableau 2023</p>
  </div>
  <div class="payment-icons">
    <img src="/icons/mastercard-logo.png" alt="mastercard logo" />
    <img src="/icons/MP-logo.png" alt="Mobile pay logo" />
    <img src="/icons/securecode-logo.png" alt="Mastercard secure code logo" />
    <img src="/icons/verified-by-visa-logo.png" alt="Verified by visa logo" />
    <img src="/icons/visa-card-electron.png" alt="Visa electron logo" />
    <img src="/icons/visa-logo.png" alt="visa logo" />
  </div>
</section>

<style>
  .wave-footer {
    display: none;
  }
  .store-footer {
    padding: 1rem 0;
  }
  .store-footer p {
    text-transform: uppercase;
  }

  .icons-footer p {
    text-transform: uppercase;
    text-align: right;
  }
  .some-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .some-icons div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }
  div.opening_hours {
    display: flex;
    max-width: 65%;
    justify-content: space-between;
  }

  .store-footer img {
    max-width: 10rem;
    padding: 1rem 0;
  }

  .contact-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    align-items: flex-end;
    text-transform: uppercase;
  }

  .payment-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem 0;
    flex-wrap: wrap;
  }
  .payment-icons img {
    width: 50px;
  }
  @media (min-width: 690px) {
    .wave-footer {
      display: block;
    }
  }
</style>
