---
import "../style.css";
---

<section class="info-footer">
  <div class="store-footer">
    <img src="/logo/logo-blue.svg" alt="Tableau Logo" />
    <p>Store Kongensgade 50 <br /> 1624 København K</p>
    <div class="opening_hours">
      <p>Monday - friday</p>
      <p>10-18</p>
    </div>
    <div class="opening_hours">
      <p>Saturday</p>
      <p>10-17</p>
    </div>
    <div class="opening_hours">
      <p>Sunday</p>
      <p>10-15</p>
    </div>
  </div>
  <div class="wave-footer">
    <img src="" alt="Tableau wave" />
  </div>
  <div class="contact-footer">
    <a href="mailto:info@tableau-cph.com">info@tableau-cph.com</a>
    <a href="tel:+45 31 45 31 30">+45 31 45 31 30</a>
    <a href="#">TERMS & CONDITIONS</a>
  </div>
</section>
<section>
  <div class="some-icons">
    <img src="../../public/icons/facebook.svg" alt="facebook logo" />
    <img src="../../public/icons/insta.svg" alt="instagram logo" />
  </div>
  <div class="payment-icons">
    <img src="../../public/icons/mastercard-logo.png" alt="mastercard logo" />
    <img src="../../public/icons/MP-logo.png" alt="Mobile pay logo" />
    <img src="../../public/icons/securecode-logo.png" alt="Mastercard secure code logo" />
    <img src="../../public/icons/verified-by-visa-logo.png" alt="Verified by visa logo" />
    <img src="../../public/icons/visa-card-electron.png" alt="Visa electron logo" />
    <img src="../../public/icons/visa-logo.png" alt="visa logo" />
  </div>
</section>

<style>
  .wave-footer {
    display: none;
  }
  .store-footer p {
    text-transform: uppercase;
  }

  div.opening_hours {
    display: flex;
    max-width: 65%;
    justify-content: space-between;
  }

  .info-footer {
    width: 100vw;
  }

  .store-footer img {
    max-width: 10rem;
  }

  .contact-footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: flex-end;
  }

  contact-footer p {
    width: fit-content;
  }
  @media (min-width: 690px) {
    .wave-footer {
      display: block;
    }
  }
</style>
