---
---

<div class="hero-section">
  <img src="img/slide1.webp" alt="" />
  <img src="img/slide2.webp" alt="" />
  <img src="img/slide3.webp" alt="" />
  <img src="img/slide4.webp" alt="" />
</div>

<style>
  .hero-section {
    display: flex;
    max-height: 90dvh;
    overflow: hidden;
  }

  .hero-section img {
    width: 100%;
    object-fit: cover;
  }
</style>
