---
---

<div class="hero-section">
  <img src="img/slide1.webp" alt="" />
  <img src="img/slide2.webp" alt="" />
  <img src="img/slide3.webp" alt="" />
  <img src="img/slide4.webp" alt="" />
</div>
<div class="slider">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis officiis similique unde suscipit quae esse a qui dignissimos consequuntur minus modi harum deleniti optio quis reprehenderit quisquam repellendus odio, perferendis voluptatem nesciunt fugit perspiciatis neque,
  dolorum nobis! Fugit omnis dolorum eos similique consequuntur, adipisci laboriosam, accusamus alias cupiditate tempora eius ipsum, corrupti aperiam dolor fugiat quasi? Soluta delectus recusandae nisi quisquam tempora qui! Minus blanditiis rem dignissimos pariatur quibusdam
  ipsam nesciunt ut. Eos, temporibus magnam sed eius omnis culpa fugiat dolores. Nesciunt sed accusamus perspiciatis debitis eligendi ipsa eaque deserunt, quis, est distinctio quas suscipit earum cumque praesentium molestias impedit! Pariatur, fuga error. Consequuntur veritatis
  velit molestias porro beatae doloribus accusantium ea provident, ducimus qui repellat illo doloremque, nesciunt voluptatibus maiores corporis id sed laudantium. Eaque odio, quaerat neque voluptas perspiciatis beatae accusantium consectetur! Libero amet minus eos natus nobis
  excepturi dignissimos hic, exercitationem laborum rerum velit, sint asperiores adipisci quam voluptatibus ducimus itaque? Nobis nemo veritatis, atque deserunt eius pariatur inventore quia sint ipsum placeat dignissimos ratione corporis ab vero velit tenetur beatae nisi in eos
  dolorum. Debitis deleniti dignissimos saepe quam pariatur unde est reprehenderit, ex, distinctio voluptates ipsam quis minus eos tenetur hic explicabo sunt natus? Dicta quaerat tenetur velit dolores impedit omnis tempore aliquid possimus expedita sit non debitis nam labore
  reprehenderit repudiandae iste cumque nostrum accusamus totam quis placeat, vel harum. Odio quam voluptatem officiis, ducimus veritatis iste rerum ullam nostrum expedita perferendis molestiae magni doloribus, praesentium eveniet assumenda, odit vero ea? Culpa accusantium
  dolorum tempore aliquam quidem laborum itaque nam quia sed quaerat! Nesciunt dolorem voluptatum maxime earum. Ipsa, adipisci? Dolore eveniet dolorem, quibusdam repudiandae distinctio quos fugiat quia harum id eligendi? Officiis nam dignissimos modi nihil ratione perferendis
  ducimus deserunt vel, libero, facere molestias fugit? Veritatis omnis voluptate hic, iusto rem dolorum obcaecati mollitia aut fugit amet porro ad praesentium, sint odit nulla saepe! Qui, sapiente! Repudiandae, illo maiores! Quaerat, blanditiis! Maiores quia similique saepe
  soluta laboriosam eius, corrupti molestias sint autem ipsam accusamus sequi ab minus dolor commodi sit facere perferendis et iusto esse quidem dolores! Placeat magnam officia animi accusantium vel iure quibusdam sunt, sequi dolorum libero totam atque odit quia explicabo iusto.
  Soluta provident, deleniti nam mollitia eveniet tempore nulla nemo? Omnis tenetur facere id aperiam beatae quidem distinctio! Architecto nulla quod, reprehenderit quo a molestiae labore amet maiores. Doloremque, itaque minima vel eaque corporis blanditiis dignissimos alias
  impedit tempora? Saepe, laudantium quas tenetur odit doloremque cupiditate aperiam excepturi earum ea corporis veniam consectetur, nemo repudiandae, maxime voluptate amet ipsam quam ab qui quisquam assumenda autem! Aspernatur quaerat repellat eum, nobis nam voluptatum magnam,
  consequatur sapiente quia ex vitae nostrum quos sit est impedit suscipit qui laudantium. Rerum atque nostrum nulla cum, ea ad quos tenetur veritatis minima accusamus provident nesciunt dolores odit consequatur possimus accusantium expedita, qui saepe est repellat molestias,
  quasi aliquid dolor corrupti. Non cumque dolor labore, voluptate nihil aut excepturi aliquid sed accusantium ipsum necessitatibus accusamus mollitia ducimus dignissimos. Amet eveniet magnam explicabo ab nulla ad sit nobis dicta corporis ipsum, aliquam vel est labore
  necessitatibus minima quae debitis possimus! Eius tempora, blanditiis qui quo eos ad iusto aperiam repellat ipsa, saepe aspernatur autem adipisci tenetur repellendus voluptate eum officia earum animi doloremque eligendi repudiandae laborum perferendis quaerat! Eos voluptatum
  veniam illo illum laudantium architecto harum labore est ea quibusdam, unde consequuntur! Praesentium itaque quis cumque nam a iusto excepturi debitis minus minima, perspiciatis dolores, ipsa assumenda, deserunt odio. Iusto dicta rem nisi eos repellendus qui perspiciatis libero
  odio maxime. Iusto quos eius nihil nam voluptatem in sunt, inventore facere a quis voluptate magni autem commodi aliquid repellendus ipsa quae assumenda et nostrum tempore nobis. Laborum, nisi et perspiciatis facere possimus aspernatur vel, voluptas a ipsum veritatis officia
  ducimus voluptatum porro doloremque? Modi reprehenderit dolorem inventore aut veritatis illum commodi, iure provident esse asperiores quaerat tenetur aliquam, eaque voluptatum? Placeat recusandae iste hic, quia mollitia provident eveniet ex sint quam culpa delectus fugit quis
  adipisci, qui magni, corporis doloremque necessitatibus voluptas obcaecati. Explicabo officia repellendus rerum deleniti, ullam itaque quaerat inventore voluptatem dignissimos eius eligendi fugit, repellat facere optio praesentium dolor ipsam harum? In voluptate quis atque id
  cupiditate earum vitae asperiores labore cum, laboriosam soluta ratione repellat optio voluptatibus quae a? Dolorem consequuntur ullam nobis ab enim natus! At in facere officia sed iure necessitatibus a asperiores harum distinctio voluptatibus saepe ipsum exercitationem
  corrupti nihil aperiam impedit aliquid, beatae eligendi nostrum cum! Ipsam quidem exercitationem fuga quia magnam vero nostrum corporis provident quas dicta neque accusantium optio repudiandae ut facere, consequuntur, magni tempore sunt molestiae ratione quae officiis libero
  facilis nulla. Rerum aspernatur natus minus magnam autem, nisi at omnis qui, debitis veniam doloremque quae possimus velit eaque magni voluptas assumenda laborum adipisci voluptatum commodi aliquid, maiores ducimus. Cupiditate laboriosam, velit at voluptates quia sint in nam
  atque sit ad explicabo, fugiat, necessitatibus possimus tempore numquam ducimus eaque magni repellendus maiores sunt blanditiis temporibus doloremque officiis! Aliquid voluptatem harum omnis qui ipsa labore? Veniam quas vel nam! Quasi accusantium, non ipsum, totam quam
  aspernatur ipsa, fugiat dolor eaque cupiditate et rerum. Necessitatibus labore quod perferendis ipsum illum! Aspernatur nemo amet praesentium. Sapiente, corporis! Est ab sequi, architecto placeat qui voluptatem. Expedita animi nisi cum exercitationem architecto nulla quae
  voluptatibus eius voluptatum laboriosam quisquam eos ex at omnis quia, autem quod doloribus incidunt quibusdam soluta suscipit sequi iste. Perferendis minus enim, natus esse, reprehenderit voluptas reiciendis magni dolores exercitationem sapiente ratione, iusto odit quo quas
  voluptatem repellendus et ut. Placeat, voluptate iste tempore sit distinctio natus nemo quibusdam! Veritatis quidem excepturi laborum eos saepe esse voluptatibus consequuntur sit officia reprehenderit perspiciatis commodi, repellendus quos iure necessitatibus velit, iusto
  blanditiis in expedita dolore soluta voluptates dolorum. Libero culpa modi ipsam, voluptatem sunt fugit voluptatibus eligendi. Sint similique aliquid possimus veritatis corporis distinctio corrupti consequatur magni, doloremque quas provident assumenda nihil quis illum alias
  est perspiciatis quibusdam nam autem dolorum! Asperiores id, fuga saepe accusantium fugiat repellat molestias est pariatur ab modi voluptatum, dolore animi? Iste, nisi a?
</div>

<style>
  .hero-section {
  }
</style>
