---
---

<section>
  <div class="hero-section">
    <div class="wrapper-one">
      <img src="img/slide1.webp" alt="" />
    </div>
    <div class="wrapper-two">
      <img src="img/slide2.webp" alt="" />
    </div>
    <div class="wrapper-three">
      <img src="img/slide3.webp" alt="" />
    </div>
    <div class="wrapper-four">
      <img src="img/slide4.webp" alt="" />
    </div>
  </div>
</section>

<style>
  .hero-section {
    display: flex;
    overflow: hidden;
  }

  section {
    width: 100%;

    margin: 0;
    padding: 0;
    /* margin-bottom: clamp(45rem, -8.3333rem + 56.8889vw, 5rem); */
    margin-bottom: clamp(35rem, 31.6667rem + 14.2222vw, 45rem);
  }

  .hero-section img {
    width: 100%;
    object-fit: cover;
    height: 80dvh;
    height: 80vh;
  }

  .wrapper-one,
  .wrapper-two,
  .wrapper-three,
  .wrapper-four {
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    width: 100%;
    position: absolute;
  }

  .wrapper-two {
    animation: slideTwoAnim 20s infinite;
  }

  .wrapper-three {
    animation: slideThreeAnim 20s infinite;
  }

  .wrapper-four {
    animation: slideFourAnim 20s infinite;
  }

  @keyframes slideTwoAnim {
    0% {
      opacity: 0;
    }
    17% {
      opacity: 0;
    }
    33% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    67% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slideThreeAnim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    67% {
      opacity: 1;
    }
    83% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slideFourAnim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    67% {
      opacity: 1;
    }
    83% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @media (max-width: 1000px) {
    .hero-section img {
      aspect-ratio: 9/16;
      max-height: 80dvh;
    }

    section {
      /* margin-bottom: 35rem; */
    }
  }
</style>
