<div class="main-container">
  <div class="images">
    <div class="flex">
      <div>
        <h1>Multidisciplinary <span>creative studio</span><br /> and <span>concept store</span></h1>
      </div>
      <div class="info">
        <p class="info-text">Experience the fusion of art and design through captivating set designs, immersive exhibitions, and meticulously crafted furniture in our creatively curated space.</p>
        <p>Find us at <a target="_blank" href="https://goo.gl/maps/2RXNyXuxaTKme4Vj8">Store Kongensgade 50, 1624 København K</a></p>
        <div class="opening">
          <div class="opening_hours">
            <p>Monday - Friday</p>
            <p>10 - 18</p>
          </div>
          <div class="opening_hours">
            <p>Saturday</p>
            <p>09 - 17</p>
          </div>
          <div class="opening_hours">
            <p>Sunday</p>
            <p>10 - 15</p>
          </div>
        </div>
      </div>
    </div>
    <div class="image-container">
      <img class="hidden-left" src="img/landing-2.webp" alt="" />
      <img class="front-img hidden-right" src="img/landing-3.webp" alt="" />
      <img class="hidden-left" src="img/landing-4.webp" alt="" />
      <img class="front-img hidden-right" src="img/landing-6.webp" alt="" />
    </div>
  </div>
</div>
<div class="marquee">
  <div class="marquee--inner">
    <span class="marquee--span">
      <div class="orb"><img class="wave" src="icons/filledwave.svg" alt="" /></div>
    </span>
    <span class="marquee--span">
      <div class="orb"><img class="wave" src="icons/filledwave.svg" alt="" /></div>
    </span>
  </div>
</div>

<style>
  .orb {
    height: 50px;
    display: inline-block;
    float: left;
    transition: all 0.2s ease-out;
  }

  .marquee .marquee--inner .orb:first-of-type {
    position: relative;
    top: -5px;
  }

  .marquee {
    height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    top: clamp(70.375rem, 65.3958rem + 21.2444vw, 85.3125rem);
  }

  .marquee--inner {
    display: flex;
    width: 200%;
    margin: 70px 0;
    position: relative;
    animation: marquee 20s linear infinite;
  }

  .marquee--span {
    float: left;
    width: 50%;
  }

  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }

  .main-container {
    margin-top: 0 !important;
  }

  .front-img {
    z-index: 999;
  }

  .banner-container {
    width: 100%;
    overflow: hidden;
  }

  .wave-wrapper {
    display: inline-flex;
    white-space: nowrap;
    position: absolute;
    top: clamp(65.625rem, 57.079rem + 65.4631vw, 90.625rem);
    left: -33px;
  }

  .wave {
    width: 100%;
    height: 50px;
  }

  .flex > * {
    margin-block: var(--m-spacing);
  }

  .images {
    display: flex;
    flex-flow: column;
    gap: var(--s-spacing);
    place-content: baseline;
    gap: var(--m-spacing);
  }

  .images img {
    object-fit: contain;
  }

  a {
    padding-bottom: 0;
  }
  h1 {
    font-family: larken !important;
    font-style: italic;
    text-align: end;
    font-size: var(--h2-font-size) !important;
  }

  h1 span {
    font-family: franklin;
    font-style: normal;
    font-weight: 200;
    font-size: var(--h3-font-size);
  }

  .opening_hours {
    display: flex;
    justify-content: space-between;
  }

  .info-text {
    margin-bottom: var(--s-spacing);
    max-width: 626px;
  }

  .info {
    width: fit-content;
  }

  .opening {
    margin-top: var(--xxs-spacing);
  }

  .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: var(--xs-spacing);
    margin-inline: auto;
  }

  img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }

  @media (min-width: 1000px) {
    .flex {
      display: flex;
      place-items: top;
      justify-content: space-between;
      width: 100%;
      margin-inline: auto;
    }
    h1 {
      padding-right: var(--xs-spacing);
    }
  }

  .hidden-right {
    opacity: 0;
    transform: translateX(30px);
    transition: 1s all;
  }

  .hidden-left {
    opacity: 0;
    transform: translateX(-30px);
    transition: 1s all;
    transition-delay: 150ms;
  }

  .show {
    opacity: 1;
    transform: translateX(0);
  }
</style>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("show");
        }
      });
    },
    { threshold: [0] }
  );

  const hiddenElements = document.querySelectorAll(".hidden-left, .hidden-right");
  hiddenElements.forEach((el) => {
    observer.observe(el);
  });
</script>
