<a class="product-card" href="#">
  <img src="img/lighting1_1.webp" alt="" />
  <h4>Product Artist</h4>
  <p>Product Name</p>
  <p>Product Price</p>
</a>

<style>
  .product-card > * {
    margin-top: var(--xxs-spacing);
  }

  .product-card img {
    min-height: 350px;
    object-fit: cover;
  }
</style>
